.navbar{
    width: 60px;
    height: 100vh;
    display: block;
    // grid-template-columns: 60px;
    
    ul.navbar-nav{
        font-size: 25px;
        padding: 5px;
        text-align: center;
    }

}

