<div class="container-fluid">
    <header class="d-flex justify-content-between align">

        <nav aria-label="breadcrumb mb-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
        </nav>

        <div class="form-group mb-0">
            <input type="text" class="form-control" placeholder="Search..." [formControl]="searchControl">
        </div>
    </header>

    <div class="row">
        <div class="col-md-2 bg-light p-2">
            <form class="form" [formGroup]="productListFormGroup">
                <label>Rating Filter</label>
                <div class="form-check" formArrayName="rating" *ngFor="let ratingObj of ratingFilter; let i=index">
                    <label class="form-check-label">
                        <input type="checkbox" [formControlName]="i" class="form-check-input">
                        {{ratingObj}}
                    </label>
                </div>

                <label>Stock Filter</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" formControlName="inStock" [value]="true">
                        In stock
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" formControlName="inStock" [value]="false">
                        Out of stock
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <div class="row">
                <ng-container *ngIf="products$ | async as products">
                    <div class="col-md-4 p-2" *ngFor="let p of products">
                        <app-product [product]=p [trashView]="false"></app-product>
                    </div>
                    <div class="col-md-12" *ngIf="products.length === 0">
                        No Data Found
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
        <button class="floating-btn-add btn btn-primary" tooltip="Add Product" (click)="openAddProductModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
</div>
